<a href="https://colab.research.google.com/github/bart-kra/Python/blob/main/center_of_gravity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [9]:
def computing(m, h, l, part):
  m_fac = [6.94, 43.457, 1.707, 1.625, 0.614, 14.165, 4.33, 1.371]
  rad_fac = [50, 44.5, 45, 42.7, 37, 45.5, 40.5, 44.1]

  df = pd.DataFrame()

  df['segment'] = part
  df['l_segment'] = l
  df['m_fac'] = m_fac 
  df['rad_fac'] = rad_fac 
  df['m_rel'] = df['m_fac'] * m * 0.01
  df['r'] = df['segment'] * df['rad_fac'] * 0.01

  return df

In [10]:
# part = ['glowa', 'tulow', 'ramie', 'przedramie', 'dlon', 'udo', 'podudzie', 'stopa']

# print('Masa ciaÅ‚a: ', end='')
# m = int(input())
# print('Wzrost: ', end='')
# h = int(input())

# l = []

# for i in part:
#   print('l_{}: '.format(i), end='')
#   l.append(int(input()))

df = computing(m, h, l, part)

TypeError: ignored

In [18]:
df[['m_rel', 'r']] = df[['m_rel', 'r']].apply(lambda x: round(x, 2))

In [19]:
df

         part  l_part   m_fac  rad_fac  m_rel      r
0       glowa      30   6.940     50.0   4.79  15.00
1       tulow      53  43.457     44.5  29.99  23.58
2       ramie      31   1.707     45.0   1.18  13.95
3  przedramie      27   1.625     42.7   1.12  11.53
4        dlon      20   0.614     37.0   0.42   7.40
5         udo      41  14.165     45.5   9.77  18.66
6    podudzie      42   4.330     40.5   2.99  17.01
7       stopa      25   1.371     44.1   0.95  11.02

In [5]:
itrt = 1
m_list = []
for i, j, k in zip(df['part'], df['m_rel'], df['r']):
  print('{}: \nm_{} = {}'.format(i, itrt, round(j, 2)))
  print('r_{} = {}\n'.format(itrt, round(k, 2)))
  itrt += 1
  m_list.append(round(j, 2))
print(m_list)

glowa:
m_1 = 4.79
r_1 = 15.0

tulow:
m_2 = 29.99
r_2 = 23.59

ramie:
m_3 = 1.18
r_3 = 13.95

przedramie:
m_4 = 1.12
r_4 = 11.53

dlon:
m_5 = 0.42
r_5 = 7.4

udo:
m_6 = 9.77
r_6 = 18.66

podudzie:
m_7 = 2.99
r_7 = 17.01

stopa:
m_8 = 0.95
r_8 = 11.03

[4.79, 29.99, 1.18, 1.12, 0.42, 9.77, 2.99, 0.95]

In [50]:
r_list_x = [161,116.5,142,141.5,141,74.3,35,5.5]
r_list_y = [9,12.5,14,41.5,64.5,10,8,11]

df1 = pd.DataFrame()
df1['part'] = df['part']
df1['r_x1'] = r_list_x
df1['r_y1'] = r_list_y
df1['m_rel'] = df['m_rel']
df1['seg_count'] = [1, 1, 2, 2, 2, 2, 2, 2]
df1['m_rel*r_x1*seg_count'] = df1['r_x1'] * df1['m_rel'] * df1['seg_count']
df1['m_rel*r_y1*seg_count'] = df1['r_y1'] * df1['m_rel'] * df1['seg_count']

df1

,part,r_x1,r_y1,m_rel,seg_count,m_rel*r_x1*seg_count,m_rel*r_y1*seg_count
0,glowa,161.0,9.0,4.79,1,771.190,43.110
1,tulow,116.5,12.5,29.99,1,3493.835,374.875
2,ramie,142.0,14.0,1.18,2,335.120,33.040
3,przedramie,141.5,41.5,1.12,2,316.960,92.960
4,dlon,141.0,64.5,0.42,2,118.440,54.180
5,udo,74.3,10.0,9.77,2,1451.822,195.400
6,podudzie,35.0,8.0,2.99,2,209.300,47.840
7,stopa,5.5,11.0,0.95,2,10.450,20.900

In [42]:
liczx = round(df1['m_rel*r_x1*seg_count'].sum(),2)
mianx = round(df1['m_rel'].sum(), 2)
print('x1 = {}'.format(liczx/mianx))
liczy = round(df1['m_rel*r_y1*seg_count'].sum(),2)
miany = round(df1['m_rel'].sum(), 2)
print('y1 = {}'.format(liczy/miany))

x1 = 130.97285686389375
y1 = 16.83850810388596

In [59]:
r_list_x1 = [161,116.5,142,141.5,138,74.3,35,5.5]
r_list_y1 = [9,12.5,14,41.5,65.5,10,8,11]

df2 = pd.DataFrame()
df2['part'] = df['part']
df2['r_x2'] = r_list_x1
df2['r_y2'] = r_list_y1
df2['m_rel'] = df['m_rel']
df2['seg_count'] = [1, 1, 2, 2, 1, 2, 2, 2]
df2['m_rel*r_x2*seg_count'] = df2['r_x2'] * df2['m_rel'] * df2['seg_count']
df2['m_rel*r_y2*seg_count'] = df2['r_y2'] * df2['m_rel'] * df2['seg_count']

df2.loc[4, 'm_rel'] = 11
df2.loc[4, 'part'] = 'obciazenie'

df2

,part,r_x2,r_y2,m_rel,seg_count,m_rel*r_x2*seg_count,m_rel*r_y2*seg_count
0,glowa,161.0,9.0,4.79,1,771.190,43.110
1,tulow,116.5,12.5,29.99,1,3493.835,374.875
2,ramie,142.0,14.0,1.18,2,335.120,33.040
3,przedramie,141.5,41.5,1.12,2,316.960,92.960
4,obciazenie,138.0,65.5,11.00,1,57.960,27.510
5,udo,74.3,10.0,9.77,2,1451.822,195.400
6,podudzie,35.0,8.0,2.99,2,209.300,47.840
7,stopa,5.5,11.0,0.95,2,10.450,20.900

In [60]:
liczx1 = round(df2['m_rel*r_x2*seg_count'].sum(),2)
mianx1 = round(df2['m_rel'].sum(), 2)
print('x2 = {}'.format(liczx1/mianx1))
liczy1 = round(df2['m_rel*r_y2*seg_count'].sum(),2)
miany1 = round(df2['m_rel'].sum(), 2)
print('y2 = {}'.format(liczy1/miany1))

x2 = 107.56821492150834
y2 = 13.523871176565788

In [62]:
r_list_x2 = [9,12.5,5,4.5,4,10,8,11]
r_list_y2 = [15,59.5,44,71.5,94.5,101.7,141,171.5]

df3 = pd.DataFrame()
df3['part'] = df['part']
df3['r_x3'] = r_list_x2
df3['r_y3'] = r_list_y2
df3['m_rel'] = df['m_rel']
df3['seg_count'] = [1, 1, 2, 2, 2, 2, 2, 2]
df3['m_rel*r_x3*seg_count'] = df3['r_x3'] * df3['m_rel'] * df3['seg_count']
df3['m_rel*r_y3*seg_count'] = df3['r_y3'] * df3['m_rel'] * df3['seg_count']

df3

,part,r_x3,r_y3,m_rel,seg_count,m_rel*r_x3*seg_count,m_rel*r_y3*seg_count
0,glowa,9.0,15.0,4.79,1,43.110,71.850
1,tulow,12.5,59.5,29.99,1,374.875,1784.405
2,ramie,5.0,44.0,1.18,2,11.800,103.840
3,przedramie,4.5,71.5,1.12,2,10.080,160.160
4,dlon,4.0,94.5,0.42,2,3.360,79.380
5,udo,10.0,101.7,9.77,2,195.400,1987.218
6,podudzie,8.0,141.0,2.99,2,47.840,843.180
7,stopa,11.0,171.5,0.95,2,20.900,325.850

In [54]:
liczx2 = round(df3['m_rel*r_x3*seg_count'].sum(),2)
mianx2 = round(df3['m_rel'].sum(), 2)
print('x3 = {}'.format(liczx2/mianx2))
liczy2 = round(df3['m_rel*r_y3*seg_count'].sum(),2)
miany2 = round(df3['m_rel'].sum(), 2)
print('y3 = {}'.format(liczy2/miany2))

x3 = 13.812927162663541
y3 = 104.58660417887131